.nav__active a{
    color: var( --academia__5);
    text-shadow: 0 0 .5rem var( --academia__5);
}

.headline__baner--gif{
    padding-top: 30rem;
    background: url("../img/academia/wallpaper.gif") 
    no-repeat
    center/cover;
    height: 40vh;
    position: relative;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / 1);
}

.relogio{
    background: var(--cor__5);
    opacity: .9;
    width: 10rem; height: 5rem;
    color: var(--cor__letra);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; right: 50%; left: 50%;
    display: flex;
    align-items: center; justify-content: center;
    font-size: 5rem;
    font-family: 'Cute Font';
}

.foto__pagina{
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -10rem;
    position: absolute;
    border: 6px solid var(--cor__4);
    width: 10rem; height: 10rem;
    background: url('../img/academia/imagem__bola.gif') 
    no-repeat
    center/cover;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / .7);
}