@media (hover: none){
    .card .card3D{
    transform: perspective(1500px) rotateX(20deg);
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 1);
    border: 1px solid rgb(112, 112, 112);
}

.card ,.card3D::after{
    opacity: 1;
}

.card .card__hidden{
    bottom: -15%;
    opacity: 1;
}

.card__face1 .card__face2{
    transform: translateY(0);
}
}

@media screen and (min-width: 626px) {
    .caixa__de__texto{
        height: 3.5rem;
    }

    .active__sobre__mim{
        
        height: 19rem;
    }
}

@media screen and (min-width: 1184px) {
    .headline__infos{
        margin-top: 10rem;
        display: flex;
        flex-flow: nowrap;
        align-items: start; justify-content: space-around;
    }

    .headline__left{
        width: 30%;
    }

    .headline__right{
        width: 60%;
    }
    
    .redes__sociais{
        width: auto;
        display: flex;
        flex-flow: row nowrap;
    }

    .container__cards{
        display: flex;
        flex-flow: wrap row;
    }
}
