.nav__active a{
    color: var(--home__5);
    text-shadow: 0 0 .5rem var(--home__5);
}

.headline__baner--gif{
    padding-top: 30rem;
    background: url("../img/home/wallpaper__background.gif") 
    no-repeat
    center/cover;
    height: 40vh;
    position: relative;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / 1);
    
}

.headline__left{
    display: flex;
    gap: 3rem;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.relogio{
    background: var(--cor__5);
    opacity: .9;
    width: 10rem; height: 5rem;
    color: var(--cor__letra);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; right: 50%; left: 50%;
    display: flex;
    align-items: center; justify-content: center;
    font-size: 5rem;
    font-family: 'Cute Font';
}

.minha__foto{
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -10rem;
    position: absolute;
    border: 6px solid var(--cor__4);
    width: 10rem; height: 10rem;
    background: url('../img/eu/minha__foto.jpg') 
    no-repeat
    top/cover;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / .7);
}

.headline__sobre__mim{
    margin-top: 4rem;
    padding: 1rem;
    color: var(--cor__letra);
}

.nome{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.caixa__de__texto{
    background: var(--cor__2);
    padding: 1rem;
    position: relative;
    overflow: hidden;
    height: 6rem;
    transition: .2s;
    box-shadow: 0 0 1rem rgb(0 0 0 /.5);
}

.active__sobre__mim{
    height: auto;
}

.active__sobre__mim i{
    transform: rotate(180deg)
}


.caixa__de__texto i{
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: .9rem;
    font-size: 2rem;
    transition: .2s;
}


.caixa__de__texto > p{
    text-transform: capitalize;
    padding-right: 2rem;
}

.active__sobre__mim .quem__sou__eu{
    border: 1px solid var(--cor__1);
}

.quem__sou__eu{
    opacity: 0;
    margin: 1rem;
    display: grid;
    align-items: center; justify-content: start;
    padding: .5rem;
}

.active__sobre__mim .quem__sou__eu{
    opacity: 1;
}

.quem__sou__eu h2{
    margin-left: 2rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    border-bottom: 1px solid var(--cor__1);
    width: 12rem;
}

.list__sobre__mim{
    position: relative;
    padding-left: 2rem;
    list-style-type: none;
}

.linha{
    position: absolute;
    left: .5rem; top: 0;
    display: block;
    width: 4px;
    height: 100%;
    background: var(--cor__letra);
}

.bola__linha{
    position: absolute;
    background: var(--cor__letra);
    width: 15px; height: 15px;
    border-radius: 50%;
    left: -.30rem;
    display: block;
}

.linha .bola__linha:nth-child(2){
    bottom: 0;
}

.list__sobre__mim li{
    text-transform: capitalize;
    margin: .5rem 0;
}

.headline__infos{
    display: flex;
    flex-flow: column nowrap;
    align-items: center; justify-content: center;
    gap: 4rem;
}

.container__date{
    display: grid;
    align-items: center; justify-content: center;
}

.date--text{
    text-align: center;
    color: #eee;
    text-transform: capitalize;
    opacity: .3;
    margin-bottom: .3rem;
}

.date--numbers{
    display: flex;
    font-size: 4rem;
    gap: .5rem;
}

.mes, .dia{
    background: var(--cor__5);
    border-radius: 2rem;
    color: var(--cor__letra);
    width: 50%;
    height: 10rem;
    display: grid;
    align-items: center; justify-content: center;
    box-shadow: 0 0 .5rem rgb(0 0 0 / .6);
}

.container__weather{
    width: 17rem;
    background: transparent;
    border-radius: 2rem;
    box-shadow: 0 .3rem .2rem rgb(0 0 0 / .4);
    overflow: hidden;
    background: url('../img/ceus/ceu__limpo.gif') 
    no-repeat 
    center/cover;
    border: 1px solid rgb(255 255 255 / .1);
    box-shadow: 0 .5rem 3rem rgb(0 0 0 / .6);
}

.box__weather{
    background: linear-gradient(transparent, var(--cor__5));
    width: 100%; height: 100%;
    display: flexbox;

}

.weather__top{
    height: 25%; width: 92%;
    padding: 1rem;
    display: flex;
    justify-content: center; align-items: center;
    gap: 1rem;
    --background__trasparent: rgb(255 255 255 / .1);
    color: var(--cor__letra);
    border-bottom: 1px solid var(--cor__letra);
    margin: 0 auto;
}

.weather__top input{
    border: none;
    border-radius: .5rem;
    width: 70%; height: 2.3rem;
    background: var(--background__trasparent);
    padding: 1rem;
    color: var(--cor__letra);
    font-size: 1.1rem;
}

.weather__top button{
    border: none;
    height: 2.3rem; width: 2.3rem;
    border-radius: 50%;
    background: var(--background__trasparent);
    color: var(--cor__letra);
    cursor: pointer;
}

.weather__bottom{
    padding-top: 1rem;
    width: 100%; height: 100%;
    color: #eee;

}

.infos__name__city{
    display: flex;
    align-items: center; justify-content: center;
    gap: .4rem;
    
}

.infos__name__city h3{
    text-transform: capitalize;
    font-size: 1.1rem;
}

.infos__name__city img{
    height: 1.5rem;
}

.infos__estado__do__tempo{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center; justify-content: center; 
}

.infos__estado__do__tempo .graus{
    font-size: 3rem;
}

.estado__tempo{
    display: flex;
    align-items: center; justify-content: center;
    text-transform: capitalize;
}

.estado__tempo img{
    width: 2rem;
    height: 2rem;
}

.bottom__vento__agua{
    display: flex;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between; align-items: center;
}

.agua{
    display: flex;
    align-items: center; justify-content: center;
    gap: .3rem;
}

.agua i{
    font-size: .8rem;
}

.vento{
    display: flex;
    align-items: center; justify-content: center;
    gap: .3rem;
}

.agua i{
    font-size: .8rem;
}

.weather404{
    display: grid;
    align-items: center; justify-content: center;
}

.weather404 img{
    width: 13rem; height: 13rem;
}

.weather__hide{
    display: none;
}

.redes__sociais{
    border: 1px solid var(--cor__letra);
    padding: 1rem 5rem;
    box-shadow: 0 0 .5rem rgb(0 0 0 / .8);
}

.container__sociais{
    display: flex;
    flex-flow: column nowrap;
    align-content: center; justify-content: center;
    gap: 1rem;
    width: 100%; height: 100%;
    overflow: hidden;

}

.container__sociais h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--cor__letra);
}

.container__cards{
    width: 100%;
    display: grid;
    align-items: center; justify-content: center;
    gap: 2rem;
}

.card{
    width: 15rem;
    height: 20rem;
    position: relative;
}

.card3D{
    width: 100%; height: 100%;
    background: var(--cor__letra);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform .3s;
    box-shadow: 0 0 1rem rgb(0 0 0 / 1);
    position: relative;
    overflow: hidden;
}

.card3D::after{
    opacity: 0;
    content: "";
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    background: linear-gradient(transparent, rgb(0 0 0 / .7));
    top: 0;
    transition: .2s;
}

.card3D__header{
    height: 30%;
    position: relative;
    background: 
    url('../img/home/redes__social/banner__instagram.jpg')
    no-repeat
    center/cover;
}

.avatar__name{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 85%;
    position: absolute;
    display: flex;
    align-items: center; justify-content: center;
    flex-flow: column nowrap;
}

.avatar__name img{
    width: 5rem; height: 5rem;
    border-radius: 50%;
    border: 3px solid var(--cor__letra);
}

.avatar__name h3{
    text-align: center;
}

.infos{
    margin-top: 2.7rem;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: .9rem;
}

.card__hidden{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    bottom: -100rem;
}

.card__hidden img{
    width: 10rem;
}

.btn__seguir{
    margin-top: 2rem;
    display: block;
    background: transparent;
    border: none;
    width: 100%;
    bottom: 0;
    pointer-events: none;    
}

.btn__seguir a{
    display: block;
    background: var(--cor__letra);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: .5rem 2rem;
    border-radius: .7rem;
    color: #d43376;
    font-weight: 700;
    border: 1px solid #d43376;
    transition: .2s;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    pointer-events: all;
}

.btn__seguir a:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: var(--cor__letra);
    border: none;
    box-shadow: 0 0 .3rem rgb(0 0 0 / .5);
    transform: scale(1.1);
}

.card:hover .card3D, .card3D:hover{
    transform: perspective(1500px) rotateX(40deg);
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 1);
    border: 1px solid rgb(112, 112, 112);
}

.card:hover .card3D::after{
    opacity: 1;
}

.card:hover .card__hidden{
    bottom: -15%;
    opacity: 1;
}

.discord .card3D__header{
    background-image: url('../img/home/redes__social/banner__discord.jpg');
}

.discord h4{
    opacity: .3;
}


.discord .card__hidden img{
    display: block;
    margin: 0 auto;
}

.discord .btn__seguir a{
    width: 15rem;
    color: #515BD7;
    border-color: #515BD7;
    padding: .5rem ;
}

.discord .btn__seguir a:hover{
    background: #515BD7;
    color: var(--cor__letra);
}

.github .card3D__header{
    background-image: url('../img/home/redes__social/banner__github.webp');
}

.github h3{
    width: 15rem;
}

.github .btn__seguir a{
    color: #292929;
    border-color: #292929;
}

.github .btn__seguir a:hover{
    background: #292929;
    color: var(--cor__letra);
}

@media (hover: none){
    .card .card3D{
    transform: perspective(1500px) rotateX(20deg);
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 1);
    border: 1px solid rgb(112, 112, 112);
}

.card ,.card3D::after{
    opacity: 1;
}

.card .card__hidden{
    bottom: -15%;
    opacity: 1;
}

}