.nav__active a{
    color: var(--home__5);
    text-shadow: 0 0 .5rem var(--home__5);
}

.headline__baner--gif{
    padding-top: 30rem;
    background: url("../img/home/wallpaper__background.gif") 
    no-repeat
    center/cover;
    height: 40vh;
    position: relative;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / 1);
    
}

.headline__left{
    display: flex;
    gap: 3rem;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.relogio{
    background: var(--cor__5);
    opacity: .9;
    width: 10rem; height: 5rem;
    color: var(--cor__letra);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; right: 50%; left: 50%;
    display: flex;
    align-items: center; justify-content: center;
    font-size: 5rem;
    font-family: 'Cute Font';
}

.minha__foto{
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -10rem;
    position: absolute;
    border: 4px solid var(--cor__5);
    width: 10rem; height: 10rem;
    background: url('../img/eu/minha__foto.jpg') 
    no-repeat
    top/cover;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem rgb(0 0 0 / .5);
}

.headline__infos{
    margin-top: 5.5rem;
    display: flex;
    flex-flow: wrap;
    align-items: center; justify-content: center;
    gap: 4rem;
}

.container__date{
    display: grid;
    align-items: center; justify-content: center;
}

.date--text{
    text-align: center;
    color: #eee;
    text-transform: capitalize;
    opacity: .3;
    margin-bottom: .3rem;
}

.date--numbers{
    display: flex;
    font-size: 4rem;
    gap: .5rem;
}

.mes, .dia{
    background: var(--cor__5);
    border-radius: 2rem;
    color: var(--cor__letra);
    width: 50%;
    height: 10rem;
    display: grid;
    align-items: center; justify-content: center;
    box-shadow: 0 0 .5rem rgb(0 0 0 / .6);
}

.container__weather{
    width: 17rem;
    background: transparent;
    border-radius: 2rem;
    box-shadow: 0 .3rem .2rem rgb(0 0 0 / .4);
    overflow: hidden;
    background: url('../img/ceus/ceu__limpo.gif') 
    no-repeat 
    center/cover;
    border: 1px solid rgb(255 255 255 / .1);
    box-shadow: 0 .5rem 3rem rgb(0 0 0 / .6);
}

.box__weather{
    background: linear-gradient(transparent, var(--cor__5));
    width: 100%; height: 100%;
    display: flexbox;

}

.weather__top{
    height: 25%; width: 92%;
    padding: 1rem;
    display: flex;
    justify-content: center; align-items: center;
    gap: 1rem;
    --background__trasparent: rgb(255 255 255 / .1);
    color: var(--cor__letra);
    border-bottom: 1px solid var(--cor__letra);
    margin: 0 auto;
}

.weather__top input{
    border: none;
    border-radius: .5rem;
    width: 70%; height: 2.3rem;
    background: var(--background__trasparent);
    padding: 1rem;
    color: var(--cor__letra);
    font-size: 1.1rem;
}

.weather__top button{
    border: none;
    height: 2.3rem; width: 2.3rem;
    border-radius: 50%;
    background: var(--background__trasparent);
    color: var(--cor__letra);
    cursor: pointer;
}

.weather__bottom{
    padding-top: 1rem;
    width: 100%; height: 100%;
    color: #eee;

}

.infos__name__city{
    display: flex;
    align-items: center; justify-content: center;
    gap: .4rem;
    
}

.infos__name__city h3{
    text-transform: capitalize;
    font-size: 1.1rem;
}

.infos__name__city img{
    height: 1.5rem;
}

.infos__estado__do__tempo{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center; justify-content: center; 
}

.infos__estado__do__tempo .graus{
    font-size: 3rem;
}

.estado__tempo{
    display: flex;
    align-items: center; justify-content: center;
    text-transform: capitalize;
}

.estado__tempo img{
    width: 2rem;
    height: 2rem;
}

.bottom__vento__agua{
    display: flex;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between; align-items: center;
}

.agua{
    display: flex;
    align-items: center; justify-content: center;
    gap: .3rem;
}

.agua i{
    font-size: .8rem;
}

.vento{
    display: flex;
    align-items: center; justify-content: center;
    gap: .3rem;
}

.agua i{
    font-size: .8rem;
}

.weather404{
    display: grid;
    align-items: center; justify-content: center;
}

.weather404 img{
    width: 13rem; height: 13rem;
}

.weather__hide{
    display: none;
}
