body{
    background: var(--cor__4);
    height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    box-shadow: 0 .4rem .5rem rgb(0 0 0 / .3);
    right: 0; top: 0;
    background: var(--cor__5);
    z-index: 99;
}

nav{
    padding: .4rem 2rem;
    color: var(--cor__letra);
    display: flex;
    align-items: center; justify-content: space-between;
}


.nav__logo img{
    width: 5rem;
}

.nav__menu__mobile{
    display: none;
}

.nav__list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav__item{
    transition: .2s;
    position: relative;
}

.nav__item a{
    width: 100%;
}

.nav__item__container {
    overflow: hidden;
    position: relative;
}


.nav__item__container a{
    padding: .2rem 1rem;
    display: block;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--cor__letra);
}

.nav__active:hover a{
    color: #eee;
    text-shadow: none;
}

.nav__item__container span{
    pointer-events: none;
    position: relative;
    display: block;
    position: absolute;
    background: #eee;
    box-shadow: 0 0 1rem rgba(255, 255, 255, .3);

}

.nav__item__container span:nth-child(1){
    width: 100%;
    height: 2px;
    top: 0;
    right: 100%;
    animation: linha__top 2s linear infinite;
}

@keyframes linha__top {
    0%{
        right: 100%;
    }

    50%, 100%{
        right: -100%;
    }
}

.nav__item__container span:nth-child(2){
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
    animation: linha__right 2s linear .5s infinite;
}


@keyframes linha__right {
    0%{
        top: -100%;
    }

    50%, 100%{
        top: 100%;
    }
}

.nav__item__container span:nth-child(3){
    width: 100%;
    height: 2px;
    bottom: 0;
    left:  100%;
    animation: linha__bottom 2s linear 1s infinite;
}

@keyframes linha__bottom {
    0%{
        left: 100%;
    }

    50%, 100%{
        left: -100%;
    }
}

.nav__item span:nth-child(4){
    width: 2px;
    height: 100%;
    top: 100%;
    left: 0;
    animation: linha__left 2s linear 1.5s infinite;
}

@keyframes linha__left {
    0%{
        top: 100%;
    }

    50%, 100%{
        top: -100%;
    }
}

.nav__item:nth-child(1) span{
    background: var(--home__5);
    box-shadow: 0 0 1rem var(--home__5);
}

.nav__item:nth-child(1):hover{
    background: var(--home__5);
    box-shadow: 0 0 1rem var(--home__5),
                0 0 2rem var(--home__5);
}

.nav__item:nth-child(2) span{
    background: var(--estudos__5);
    box-shadow: 0 0 1rem 1px var(--estudos__5);
}

.nav__item:nth-child(2):hover{
    background: var(--estudos__5);
    box-shadow: 0 0 1rem var(--estudos__5),
                0 0 2rem var(--estudos__5);
}

.nav__item:nth-child(3) span{
    background: var(--academia__5);
    box-shadow: 0 0 1rem var(--academia__5);
}

.nav__item:nth-child(3):hover{
    background: var(--academia__5);
    box-shadow: 0 0 1rem var(--academia__5),
                0 0 2rem var(--academia__5);
}

.nav__item:nth-child(3):hover a{
    color: var(--cor__5);
}

.nav__item:hover{
    transform: scale(1.1);
    box-shadow:  0 0 1rem .5rem black;
}

.nav__item:hover span{
    background: transparent;
    box-shadow: none;
}

/* ================== EMOJIS ==================*/

.nav__item .nav__item--emoji{
    width: 2rem; height: 2rem;
    position: absolute;
    opacity: 0;
    transition: .2s;
    filter: drop-shadow(0 0 1rem black);
}

.nav__item:hover .nav__item--emoji{
    opacity: 1;
}

.nav__item .nav__item--emoji:nth-child(1){
    transform: translate(1rem, -1rem)  scale(.6) rotate(60deg);
}

.nav__item:hover .nav__item--emoji:nth-child(1){
    transform: translate(1rem, -1.5rem) scale(.8) rotate(30deg);
}

.nav__item .nav__item--emoji:nth-child(2){
    transform: translate(-1rem, 0)  scale(.6) rotate(180deg);
}

.nav__item:hover .nav__item--emoji:nth-child(2){
    transform: translate(-1.4rem, .5rem) scale(.8) rotate(0);
}

.nav__item .nav__item--emoji:nth-child(3){
    transform: translate(5rem, 0) scale(.4) rotate(-60deg);
}

.nav__item:hover .nav__item--emoji:nth-child(3){
    transform:  translate(5rem, 0) scale(.8) rotate(20deg);
}

.nav__item:nth-child(2):hover .nav__item--emoji:nth-child(1){
    transform: translate(1rem, -1.5rem) scale(.8) rotate(160deg);
}

.nav__item:nth-child(2):hover .nav__item--emoji:nth-child(3){
    transform:  translate(6.3rem, 0) scale(.8) rotate(30deg);
}

.nav__item:nth-child(3):hover .nav__item--emoji:nth-child(1){
    transform: translate(1rem, -1.5rem) scale(1) rotate(20deg);
}

.nav__item:nth-child(3):hover .nav__item--emoji:nth-child(3){
    transform:  translate(8rem, 0) scale(1) rotate(-30deg);
}



@media screen and (max-width: 1180px) {
    .nav__menu__mobile{
        display: block;
        cursor: pointer;
        width: 3rem;
        border-top: 2px solid var(--cor__letra);
        transition: .2s;
    }

    .nav__menu__mobile::after, 
    .nav__menu__mobile::before{
        content: " ";
        display: block;
        width: 100%; height: 2px;
        background: var(--cor__letra);
        margin-top: 8px;
        transition: .2s;
    }

    .nav__list{
        position: absolute;
        top: 6.5rem; left: 0;
        width: 100%;
        height: 0rem; padding: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 100%;
        gap: 2rem;
        background: var(--cor__5);
        text-align: center;
        overflow: hidden;
        transition: .2s;
        box-shadow: 0 1rem 1rem rgb(0 0 0 / .3);
    }

    .nav__item:hover .nav__item--emoji:nth-child(1){
        transform: translate(2rem, 1rem) scale(1) rotate(30deg);
    }

    .nav__item:hover .nav__item--emoji:nth-child(2){
        transform: translate(-6rem, .5rem) scale(.8) rotate(0);
    }

    .active .nav__list{
        height: 22rem; padding: 1rem;
    }

    .active .nav__menu__mobile{
        border-color: transparent;
    }

    .active .nav__menu__mobile::before{
        rotate: 225deg;
    }

    .active .nav__menu__mobile::after{
        rotate: -225deg;
        position: relative;
        top: -.6rem;
    }

}